{{!--
  VoxChronicle - Journal Picker Dialog Template

  Handlebars template for the journal picker dialog.
  Provides a multi-select journal/folder picker with hierarchical tree view
  for selecting journals to include in session context.
  Includes primary journal designation via radio buttons.

  @module vox-chronicle
  @template journal-picker
--}}

<div class="vox-chronicle-journal-picker" data-module-id="{{moduleId}}">
  {{!-- Header Section --}}
  <div class="vox-chronicle-picker-header">
    <div class="vox-chronicle-picker-header-actions">
      <button type="button"
              class="vox-chronicle-select-all-btn"
              data-action="select-all"
              title="{{i18n.selectAll}}">
        <i class="fa-solid fa-check-double"></i>
        {{i18n.selectAll}}
      </button>
      <button type="button"
              class="vox-chronicle-deselect-all-btn"
              data-action="deselect-all"
              title="{{i18n.deselectAll}}">
        <i class="fa-solid fa-times"></i>
        {{i18n.deselectAll}}
      </button>
    </div>
    <div class="vox-chronicle-picker-selection-count">
      <i class="fa-solid fa-info-circle"></i>
      <span>{{i18n.selectedCount}}: <strong>{{selectedCount}}</strong> / {{totalCount}}</span>
    </div>
  </div>

  {{!-- Journal Tree Content --}}
  <div class="vox-chronicle-picker-content">
    {{#if hasJournals}}
      {{#if hasFolders}}
      <div class="vox-chronicle-picker-section">
        <h3 class="vox-chronicle-picker-section-title">
          <i class="fa-solid fa-folder"></i>
          {{i18n.folders}}
        </h3>
        <ul class="vox-chronicle-folder-tree">
          {{#each folderTree}}
            {{> folderNode}}
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{#if rootJournals}}
      <div class="vox-chronicle-picker-section">
        <h3 class="vox-chronicle-picker-section-title">
          <i class="fa-solid fa-book"></i>
          {{i18n.journals}}
        </h3>
        <ul class="vox-chronicle-journal-list">
          {{#each rootJournals}}
            <li class="vox-chronicle-journal-item">
              <label class="vox-chronicle-journal-label">
                <input type="checkbox"
                       class="vox-chronicle-journal-checkbox"
                       data-id="{{this.id}}"
                       data-type="{{this.type}}"
                       {{#if this.selected}}checked{{/if}} />
                <i class="fa-solid fa-book"></i>
                <span class="vox-chronicle-journal-name">{{this.name}}</span>
                <input type="radio"
                       name="vox-chronicle-primary"
                       class="vox-chronicle-primary-radio"
                       data-id="{{this.id}}"
                       {{#if this.isPrimary}}checked{{/if}}
                       {{#unless this.selected}}disabled{{/unless}} />
                <span class="vox-chronicle-primary-label" {{#unless this.selected}}style="display:none"{{/unless}}>{{@root.i18n.primary}}</span>
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    {{else}}
      <div class="vox-chronicle-picker-empty-state">
        <i class="fa-solid fa-book-open"></i>
        <p>{{i18n.noJournalsAvailable}}</p>
      </div>
    {{/if}}
  </div>

  {{!-- Footer Section --}}
  <div class="vox-chronicle-picker-footer">
    <button type="button" class="vox-chronicle-save-selection-btn" data-action="save-selection">
      <i class="fa-solid fa-save"></i>
      {{i18n.save}}
    </button>
    <button type="button" class="vox-chronicle-cancel-btn" data-action="cancel">
      <i class="fa-solid fa-times"></i>
      {{i18n.cancel}}
    </button>
  </div>
</div>

{{!-- Partial template for recursive folder rendering --}}
{{#*inline "folderNode"}}
<li class="vox-chronicle-folder-item {{#if this.expanded}}vox-chronicle-expanded{{/if}}">
  <div class="vox-chronicle-folder-header">
    {{#if this.hasChildren}}
    <button type="button"
            class="vox-chronicle-folder-toggle"
            data-folder-id="{{this.id}}"
            data-action="toggle-folder"
            title="{{#if this.expanded}}{{@root.i18n.collapseFolder}}{{else}}{{@root.i18n.expandFolder}}{{/if}}">
      <i class="fa-solid {{#if this.expanded}}fa-chevron-down{{else}}fa-chevron-right{{/if}}"></i>
    </button>
    {{else}}
    <span class="vox-chronicle-folder-spacer"></span>
    {{/if}}

    <label class="vox-chronicle-folder-label">
      <input type="checkbox"
             class="vox-chronicle-folder-checkbox"
             data-id="{{this.id}}"
             data-type="{{this.type}}"
             {{#if this.selected}}checked{{/if}} />
      <i class="fa-solid {{#if this.expanded}}fa-folder-open{{else}}fa-folder{{/if}}"></i>
      <span class="vox-chronicle-folder-name">{{this.name}}</span>
      <span class="vox-chronicle-folder-count">({{this.journalCount}})</span>
    </label>
  </div>

  {{#if this.hasChildren}}
  <div class="vox-chronicle-folder-children {{#unless this.expanded}}vox-chronicle-hidden{{/unless}}">
    {{#if this.folders}}
    <ul class="vox-chronicle-folder-tree vox-chronicle-nested">
      {{#each this.folders}}
        {{> folderNode}}
      {{/each}}
    </ul>
    {{/if}}

    {{#if this.journals}}
    <ul class="vox-chronicle-journal-list vox-chronicle-nested">
      {{#each this.journals}}
        <li class="vox-chronicle-journal-item">
          <label class="vox-chronicle-journal-label">
            <input type="checkbox"
                   class="vox-chronicle-journal-checkbox"
                   data-id="{{this.id}}"
                   data-type="{{this.type}}"
                   {{#if this.selected}}checked{{/if}} />
            <i class="fa-solid fa-book"></i>
            <span class="vox-chronicle-journal-name">{{this.name}}</span>
            <input type="radio"
                   name="vox-chronicle-primary"
                   class="vox-chronicle-primary-radio"
                   data-id="{{this.id}}"
                   {{#if this.isPrimary}}checked{{/if}}
                   {{#unless this.selected}}disabled{{/unless}} />
            <span class="vox-chronicle-primary-label" {{#unless this.selected}}style="display:none"{{/unless}}>{{@root.i18n.primary}}</span>
          </label>
        </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
  {{/if}}
</li>
{{/inline}}
